<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level: %msg - %d{HH:mm:ss.SSS} [%t] %logger{36}%n"/>
        </Console>
        <Console name="Err" target="SYSTEM_ERR">
            <PatternLayout pattern="%-5level: %msg - %d{HH:mm:ss.SSS} [%t] %logger{36}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ch.m837.zombieInvasion.gameStates.Game" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- GENERAL PURPOSE TRACE -->
        <Logger name="zombie" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- ENTITY SYSTEM WARN/ERROR-->
        <Logger name="es" level="info" additivity="false">
            <AppenderRef ref="Err"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>